/**
 * {{&summary}}
 * @method
 * @name {{&className}}#{{&methodName}}
{{#parameters}}
{{^isSingleton}} * @param {{=<% %>=}}{{<%&type%>}}<%={{ }}=%> {{&camelCaseName}} - {{&description}}{{/isSingleton}}
{{/parameters}}
 * 
 */
public {{&methodName}}({{#parameters}}{{&camelCaseName}}: {{&type}}, {{/parameters}} $queryParameters?: any) : Promise<{response: any; body: {{&returnType}};}> {
    var deferred = promise.defer<{response: any; body: {{&returnType}};}>();
    
    var domain = this.domain;
    var path = '{{&path}}';
    
    var queryParameters = {};
    var headers = {};
    var form = {};

    {{#parameters}}
       
        {{#isQueryParameter}}
            {{#isSingleton}}
                queryParameters['{{&name}}'] = '{{&singleton}}';
            {{/isSingleton}}
            {{^isSingleton}}
                if('{{&camelCaseName}}' !== undefined){
                    queryParameters['{{&name}}'] = {{&camelCaseName}};
                }
            {{/isSingleton}}
        {{/isQueryParameter}}
        
        {{#isPathParameter}}
            path = path.replace('{{=<% %>=}}{<%&name%>}<%={{ }}=%>', {{&camelCaseName}});
        {{/isPathParameter}}
        
        {{#isHeaderParameter}}
            {{#isSingleton}}
                headers['{{&name}}'] = '{{&singleton}}';
            {{/isSingleton}}
            {{^isSingleton}}
                if({{&camelCaseName}} !== undefined){
                    headers['{{&name}}'] = {{&camelCaseName}};
                }
            {{/isSingleton}}
        {{/isHeaderParameter}}
        
        {{#isBodyParameter}}
            if({{&camelCaseName}} !== undefined){
                body = {{&camelCaseName}};
            }
        {{/isBodyParameter}}

         {{#isFormParameter}}
            {{#isSingleton}}
                form['{{&name}}'] = '{{&singleton}}';
            {{/isSingleton}}
            {{^isSingleton}}
                if({{&camelCaseName}} !== undefined){
                    form['{{&name}}'] = {{&camelCaseName}};
                }
            {{/isSingleton}}
        {{/isFormParameter}}

        {{#required}}
        if({{&camelCaseName}} === undefined){
            deferred.reject(new Error('Missing required {{&paramType}} parameter: {{&camelCaseName}}'));
            return deferred.promise;
        }
        {{/required}}
 
    {{/parameters}}
    
    if($queryParameters) {
        Object.keys($queryParameters)
        .forEach(function(parameterName){
            var parameter = $queryParameters[parameterName];
            queryParameters[parameterName] = parameter;
        });
    }

    {{> request}}
    
    return deferred.promise; 
 }
